#my-svg {
  .red {
    --color: lightpink;

    & > rect {
      stroke: var(--color);
    }

    & .label {
      color: var(--color);
    }
  }

  .blue {
    --color: lightskyblue;

    & > rect {
      stroke: var(--color);
    }

    & .label {
      color: var(--color);
    }
  }
}
