---
import "@fontsource-variable/noto-sans";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script
      defer
      data-domain="raviqqe.com"
      is:inline
      src="https://plausible.io/js/plausible.js"></script>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --black-color: #333;
    --red-color: #d00;
    --white-color: #fdfdfd;

    --background-color: var(--white-color);
    --text-color: var(--black-color);

    --monospace-font-family: monospace;

    font:
      16px "Noto Sans Variable",
      sans-serif;

    @media (prefers-color-scheme: dark) {
      /* TODO Use a dark mode one-liner when a `saturate` function is fixed. */
      /* filter: invert(1) hue-rotate(180deg) contrast(1.5) saturate(3); */

      --black-color: #eee;
      --red-color: #f66;
      --white-color: black;
    }
  }

  html {
    background-color: var(--background-color);
    color: var(--text-color);
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  a,
  a:visited {
    color: var(--red-color);
    text-decoration: underline;
    text-decoration-thickness: 0.05rem;
    text-underline-offset: 0.12rem;
  }

  a:hover {
    text-decoration-thickness: 0.1rem;
  }

  code,
  pre {
    font-family: var(--monospace-font-family);
    border-radius: 0.3rem;
  }

  pre {
    padding: 1rem;
  }

  code {
    font-size: 0.9rem;
  }
</style>
