---
import "@fontsource/ubuntu";
import "@fontsource-variable/noto-sans";
import Article from "../components/Article.astro";
import Header from "../components/Header.astro";

const { frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={frontmatter.description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
    <script
      defer
      data-domain="raviqqe.com"
      is:inline
      src="https://plausible.io/js/plausible.js"></script>
  </head>
  <body>
    <Header />
    <Article>
      <slot />
    </Article>
  </body>
</html>
<style is:global>
  :root {
    --dark-black-color: #333;
    --black-color: #333;
    --red-color: #d00;
    --light-red-color: #f66;
    --white-color: #fdfdfd;

    --background-color: light-dark(var(--white-color), var(--dark-black-color));
    --text-color: light-dark(var(--black-color), var(--white-color));
    --link-color: light-dark(var(--red-color), var(--light-red-color));

    --monospace-font-family: monospace;

    color-scheme: light dark;
    font:
      16px "Noto Sans Variable",
      sans-serif;
  }

  html {
    background-color: var(--background-color);
    color: var(--text-color);
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  h1 {
    font-size: 2em;
  }

  a,
  a:visited {
    color: var(--link-color);
    text-decoration: underline;
    text-decoration-thickness: 0.05rem;
    text-underline-offset: 0.12rem;
  }

  a:hover {
    text-decoration-thickness: 0.1rem;
  }

  code,
  pre {
    font-family: var(--monospace-font-family);
    border-radius: 0.3rem;
  }

  pre {
    padding: 1rem;
  }

  code {
    font-size: 0.9rem;
  }
</style>
<style>
  header {
    display: flex;
    justify-content: flex-start;
    align-self: stretch;
    padding: 1rem;
    box-sizing: border-box;
  }

  a {
    font-family: "Ubuntu", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.75rem;

    &:visited {
      color: var(--text-color);
    }
  }
</style>
