---
import Default from "./Default.astro";

const { frontmatter } = Astro.props;
---

<Default title={frontmatter.title} description={frontmatter.description}>
  <div class="header">
    <a href="/">raviqqe's documents</a>
  </div>
  <div class="content">
    <slot />
  </div>
</Default>
<style>
  .header {
    display: flex;
    justify-content: flex-start;
    align-self: stretch;
    padding: 0.75rem 1rem;
    box-sizing: border-box;

    > a {
      font-size: 1.2rem;
      font-weight: bold;
      color: var(--text-color);
      text-decoration: none;

      &:visited {
        color: var(--text-color);
      }
    }
  }

  .content {
    max-width: 42rem;
    padding: 1rem 1.2rem;
    box-sizing: border-box;
  }
</style>
