---
import Default from "./Default.astro";
---

<Default>
  <div class="header">
    <a href="/">raviqqe's documents</a>
  </div>
  <div class="content">
    <slot />
  </div>
</Default>
<style>
  .header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .content {
    max-width: 42rem;
    margin: 0 auto;
    padding: 1rem 1.2rem;
  }
</style>
