---
import "@fontsource/ubuntu";
import Article from "../components/Article.astro";
import Default from "./Default.astro";

const { frontmatter } = Astro.props;
---

<Default title={frontmatter.title} description={frontmatter.description}>
  <header>
    <a href="/doc"><Icon />raviqqe's documents</a>
  </header>
  <Article>
    <slot />
  </Article>
</Default>
<style>
  header {
    display: flex;
    justify-content: flex-start;
    align-self: stretch;
    padding: 0.75rem 1rem;
    box-sizing: border-box;

    > a {
      font-family: "Ubuntu", sans-serif;
      font-size: 1.25rem;
      font-weight: bold;
      color: var(--text-color);
      text-decoration: none;

      &:visited {
        color: var(--text-color);
      }
    }
  }
</style>
