---
import Default from "./Default.astro";
---

<Default>
  <div class="content">
    <slot />
  </div>
</Default>
<style>
  .content {
    max-width: 42rem;
    margin: 0 auto;
    padding: 1rem 1.2rem;
  }
</style>
