name: release
on:
  push:
    branches:
      - main
  pull_request:
permissions:
  contents: read
  pages: write
  id-token: write
concurrency:
  group: release-${{ github.ref }}
  cancel-in-progress: true
jobs:
  web_release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0 # for creation times of pages
          lfs: true
      - uses: ./.github/actions/setup
      - uses: actions/configure-pages@v5
      - run: node --run build
      - uses: actions/upload-pages-artifact@v4
        with:
          path: doc/dist
      - uses: actions/deploy-pages@v4
        if: github.ref == 'refs/heads/main'
  release_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          lfs: true
      - uses: ./.github/actions/setup
      - run: go tool muffet https://raviqqe.com/doc
  release:
    needs:
      - web_release
      - release_test
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: for result in ${{ join(needs.*.result, ' ') }}; do [ $result = success ]; done
